*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Заголовок первого уровня */

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.cards-list-item-template {
  display: flex;
  flex-direction: column;
}

/* Результирующий контейнер */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}